.offcanvas{
    width: 300px;
    height: 100vh;
    padding: 20px;
    background-color: #fff;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    transform: translateX(-500px);
    transition: transform .5s ease-in-out;
  }
  .offcanvas.offcanvas-active{
    z-index: 101;
    transform: translateX(0);
  }
  .offcanvas-close-button{
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
  }
  .offcanvas-title{
    margin: 0%;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
  }
  .offcanvas-txt{
    max-width: 525px;
    margin: auto;
  }
  .overlay-bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    z-index: 50;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(1px);
    transition: opacity .4s ease;
    background-color: rgba(0,0,0,.3);
  }
  .overlay-bg.offcanvas-active{
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
  }