.App {
  text-align: center;
  background-color: #15152d;
  min-height: 100vh;
  padding-top: 100px;
  color: white;
  h1{
    margin: 0;
  }
}
.components{
  display: flex;
  padding: 50px;
}
.component{
  text-align: center;
}
