.App {
  text-align: center;
  background-color: #15152d;
  min-height: 100vh;
  padding-top: 100px;
  color: white;
  h1{
    margin: 0;
  }
  
}
.components{
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  gap: 30px;
}
.component{
  text-align: center;
  max-width: 250px;
}

